*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #244de2;
    min-height: 65px;
}

.titles{
    font-family: 'Work Sans', sans-serif;
    color: white;
}

.li:hover {
    background-color: rgb(33, 61, 151);
}