footer{
    background-color: #020279;
    width: 100%;
    margin-top: auto;
    height: auto;
    box-shadow: 0 0 6px #020279;
}

.bi{
    color: white;
    width: 20px;
    height: 20px;
    
}
.ulises{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
}

.p-contacto{
    color: white;
}

.father-foot{
    height: 118px;
    width: 150px;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.g-map{
    width: 180px;
    height: 180px;
}

#contacto{
    border-bottom: 0.125rem solid #f8f8f8;
    padding-bottom: 1rem;
}