.navbar{
    background-color: #004aad;
    width: 100%;
    box-shadow: 0 0 6px #BB2D2D;
}

.titles{
    font-family: 'Work Sans', sans-serif;
    color: #F9F4DC;
}

.titles:hover {
    color: white;
}

.logo{
    width: 70px;
    height: 65px;
    }

    .li:hover{
        transition-duration: 0.5s;
        border-bottom: 0.125rem solid white;
    }