.navbar{
    background-color: #004aad;
}

.titles{
    font-family: 'Work Sans', sans-serif;
    color: #F9F4DC;
}

.titles:hover {
    color: #A7B2C0;
    font-weight: bolder;
    transition:all .5s ease-in-out;
}

.logo{
    width: 70px;
    height: 65px;
    }