.navbar{
    background-color: #004aad;
    width: 100%;
    box-shadow: 0 0 6px #BB2D2D;
}

.titles{
    font-family: 'Work Sans', sans-serif;
    color: #F9F4DC;
}

.titles:hover {
    color: #8793A4;
    transition:all .5s ease-in-out;
    
}

.logo{
    width: 70px;
    height: 65px;
    }