
main{
    background-color: #FFFAE1;
    background-position: center;
    background-size: contain;
    height: 100vh;
    width: 100%;
    }
    

h1{     
        font-family: 'Bebas Neue', sans-serif;
        color: #BB2D2D;
        font-size: 70px;
        height: 66px;
    }
    

h2{
        font-family: 'Bebas Neue', sans-serif;
        color: #004aad;
        font-size: 18px;
        margin-top: 1rem;
    }

.storage{
    width: 260px;
    height: 197px;
}