:root {
    scroll-behavior: smooth;
}

main {
    background-color: #f9f9f9;
    background-position: center;
    background-size: contain;
    width: 100%;
    margin-top: 55px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    color: #BB2D2D;
    font-size: 60px; 
    margin-bottom: 0px;
    margin-top: 10px;
    height: 70px;

}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    color: #939191;
    font-size: 18px;

}

h5{
    color: #020279;
}

.storage {
    width: 260px;
    height: 197px;
}

.image-front {
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: contain;

}

.cards {
    font-family: 'Work Sans', sans-serif;
}

.arrow {
    height: 100px;
    width: 100px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.floating {
    animation-name: floating;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    width: 40px;
    height: 56px;
    margin-bottom: 3rem;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

.logo-instagram,
.li-instagram {
    color: #004aad;
}

.imagen-nosotros {
    width: 286px;
    height: 248px;
}

.sobre-nos {
    display: flex;
    justify-content: center;
    align-items: center;
}

#home, #sobre, #productos, #contacto{
    scroll-margin-top: 80px;
}

.card-title{
    color: #020279;
}

.card-text{
    color: #020279;
}

.cardies{
    border: transparent;
    background-color: #f9f9f9;
}
