
main{
    background-color: #FFFAE3;
    background-position: center;
    background-size: contain;
    height: 100vh;
    width: 100%;
    }
    
h1{     
        font-family: 'Bebas Neue', sans-serif;
        color: #CD3A3A;
        font-size: 110px;
        height: 108px;
    }
    
h2{
        font-family: 'Bebas Neue', sans-serif;
        color: #004aad;
        font-size: 24px;
    }